body{
    margin: 0;
    font-size: 16px;
}
#site-header{
    text-align: center;
}
#site-main{
    padding: 40px;
}

#site-footer{
    text-align: center;
    /* padding: 30px; */
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #222;
    color: white;
}
.container{
    margin: 5px auto;
}